# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
terraform.tfvars
*.auto.tfvars

# Terraform plan files
*.tfplan

# Crash logs
crash.log

# CLI configuration
terraform.rc
.terraformrc
